<?xml version="1.0"?>      
<configuration><system.serviceModel>      
      <services>       
        <service name="_8Ball_Anwendung.Service1" behaviorConfiguration="myServiceBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/MyMathService"/>       
              <add baseAddress="net.tcp://localhost:9002/MyMathService"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/MyService" binding="basicHttpBinding" contract="_8Ball_Anwendung.Service1"/>       
          <endpoint address="net.tcp://localhost:9002/MyService" binding="netTcpBinding" contract="_8Ball_Anwendung.Service1"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>       
      </services>       
      <behaviors>       
        <serviceBehaviors>       
          <behavior name="myServiceBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior>       
        </serviceBehaviors>       
      </behaviors>       
    </system.serviceModel>       
</configuration>